<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Visual_Project.Properties.Settings.DoctorAppointmentsDBConnectionString"
            connectionString="Data Source=MOHAMAD_AMRO;Initial Catalog=DoctorAppointmentsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>